// ------------ Fonts ---------------

// font-family: 'Lato-Regular', sans-serif;

// @font-face {
//   font-family: "Lato-Regular";
//   font-weight: 400;
//   font-style: normal;
//   src: local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"),
//     url("../fonts/Lato-Regular.woff") format("woff");
//   font-display: swap;
// }

