// Глобальні стилі

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 0.9375em; // 0 15px
}

.promo,
.about,
.noksprey_active,
.noksprey-aqua,
.promotion,
.noksprey_silver {
  overflow: hidden;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.45;
  color: $white;
  font-size: 17px;
}

// Parallax
.parallax__imgbox {
  height: 485px;
  position: relative;
  display: block;
  width: 100%;
  // overflow: hidden;
}

.parallax__img-big,
.parallax__img {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 906px;
  height: 243px;
  transition: all 0.1s ease;
  // margin-left: 10px;
}

.parallax__img {
  width: 404px;
  height: 100%;
}

.nosprey-baby.parallax__img {
  width: 359px;
  height: 100%;
}
// Parallax /end

sap {
  text-transform: lowercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.noksprey-title {
  font-size: 48px;
  font-weight: 700;
  padding-top: 70px;
  text-transform: uppercase;
}

.noksprey-subtitle {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.noksprey-list {
  list-style: none;
}

.noksprey-text {
  padding-left: 10px;
}

.noksprey__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

.noksprey__item {
  max-width: 670px;
  width: 100%;
}

.noksprey__list {
  list-style: none;
  margin-bottom: 30px;
}

.noksprey__list-item + .noksprey__list-item {
  margin-top: 30px;
}

.noksprey__text-top {
  margin-top: 10px;
}

.noksprey__text .noksprey__item-text {
  max-width: 734px;
  width: 100%;
}

.noksprey__note {
  font-size: 12px;
  font-style: italic;
  padding: 20px 0 40px;
}

.noksprey__buttons {
  padding-top: 20px;
  color: $default;
  font-weight: 600;
}

.noksprey__btn-link {
  background-color: transparent;
  padding: 18px 20px;
  border: 2px solid $default;
  border-radius: 35px;
  font-size: 14px;
  margin-right: 5px;
}

.btn-link-accent {
  background-color: $default;
  border: none;
  color: $white;
  border-radius: 35px;
  font-size: 14px;
  font-weight: 600;
}

.noksprey__buttons {
  padding-top: 20px;
}

.noksprey__note {
  padding: 20px 0 50px;
}

.noksprey__list-text {
  padding-left: 60px;
  display: block;
}

.noksprey__list-item {
  position: relative;
  max-width: 710px;
}

.noksprey__list-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

// -------------------------------------------------------

// -----------------------------------------------------------
