// Глобальні стилі

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 0.9375em; // 0 15px
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.45;
  color: $white;
  font-size: 17px;
}

// Parallax
.parallax__imgbox {
  height: 485px;
  position: relative;
  // overflow: hidden;
}

.parallax__img-big,
.parallax__img {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 906px;
  height: 243px;
  transition: all 0.1s ease;
  // margin-left: 10px;
}

.parallax__img {
  width: 404px;
  height: 100%;
}
// Parallax /end

sap {
  text-transform: lowercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.noksprey-title {
  font-size: 48px;
  font-weight: 700;
  padding-top: 70px;
  text-transform: uppercase;
}

.noksprey-subtitle {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.noksprey-list {
  list-style: none;
}

.noksprey-text {
  padding-left: 10px;
}

.noksprey__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

.noksprey__item {
  max-width: 670px;
  width: 100%;
}

.noksprey__list {
  list-style: none;
}

.noksprey__item-text,
.noksprey__list,
.noksprey__text {
  margin-top: 30px;
}

.noksprey__item-text {
  max-width: 734px;
  width: 100%;
}

.noksprey__note {
  font-size: 12px;
  font-style: italic;
  padding: 20px 0 40px;
}

.noksprey__buttons {
  padding-top: 20px;
  color: $default;
  font-weight: 600;
}

.noksprey__btn-link {
  background-color: transparent;
  padding: 20px 30px;
  border: 2px solid $default;
  border-radius: 35px;
  font-size: 14px;
}

.btn-link-accent {
  background-color: $default;
  border: none;
  color: $white;
  border-radius: 35px;
  font-size: 14px;
  font-weight: 600;
}

.noksprey__btn-link {
  margin-right: 5px;
  padding: 18px 30px;
}

.noksprey__buttons {
  padding-top: 20px;
}

.noksprey__note {
  padding: 20px 0 50px;
}

.noksprey__list-text {
  padding-left: 60px;
  display: block;
}

.noksprey__list-item {
  position: relative;
  margin-top: 25px;
  max-width: 710px;
}

.about__list-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

// -------------------------------------------------------
.footer,
.noksprey_bottom_note,
.noksprey_silver,
.promotion,
.noksprey_aqua,
.noksprey_active {
  display: none;
}

// -----------------------------------------------------------
// Gradual appearance of elements on the face image
.promo__block-image-wrapper-1 {
  opacity: 0;
  animation: ani 1.5s forwards;
}

.promo__block-image-wrapper-2 {
  opacity: 0;
  animation: ani 3.5s forwards;
}

.promo__block-image-wrapper-3 {
  opacity: 0;
  animation: ani 5.5s forwards;
}

.promo__block-image-wrapper-4 {
  opacity: 0;
  animation: ani 6.5s forwards;
}

.promo__block-image-wrapper-5 {
  opacity: 0;
  animation: ani 7.5s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
