// ------------------ Імпорт scss файлів ---------------

@import "vars";

@import "optimize";

@import "global";

@import "animate";

// ----------------------- Базові стилі ----------------
:root {
  font-size: 0.75em; // 12px
}

@media (min-width: 800px) {
  :root {
    font-size: 0.875em; // 14px
  }
}

@media (min-width: 1150px) {
  :root {
    font-size: 1em; // 16px
  }
}

.header {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1em;
  padding: 20px 40px;
  color: $black;
  background-color: $white;
  position: relative;
  z-index: 10;

  &__inner,
  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    align-items: center;
  }

  &__menu-list {
    display: flex;
    gap: 0 35px;
    margin-right: 40px;
  }

  &__menu-link {
    position: relative;
    font-size: 16px;
    color: #1b1f6d;
    font-weight: 500;
  }
  // Decorative line under the menu
  &__menu-link:hover:before {
    transition: all 0.25s;
    opacity: 1;
    top: 20px;
  }

  &__menu-link::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    opacity: 0;
    height: 1.5px;
    width: 100%;
    background-color: $black;
    transform: translate(0px);
    transition: all 0.25s;
  }
  // Decorative line under the menu /end

  &__find-link {
    font-size: 0.875rem;
    padding: 10px 30px;
    color: $white;
    border-radius: 30px;
    background-color: $accent;
  }
}

.menu-btn {
  display: none;
}

.promo {
  height: 90vh;
  background-position: 50% center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  &__title {
    font-size: 4.1875rem;
    font-weight: 700;
    padding-top: 30px;
    text-transform: uppercase;
    margin-top: 70px;
    display: block;
  }

  &__item {
    width: 100%;
    padding-top: 20px 10px;
  }

  &-kids__item {
    max-width: 500px;
    width: 100%;
  }

  &__item-img {
    max-width: 932px;
    width: 100%;
    height: auto;
    padding-top: 20px;
  }

  &__subtitle {
    font-size: 1.625rem;
    font-weight: 700;
    max-width: 706px;
    text-transform: uppercase;
    display: block;
  }

  &__subtitle span {
    font-weight: 500;
    padding-top: 10px;
  }

  &__block-image {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
  }

  &__block-item_1,
  &__block-item_2,
  &__block-item_3,
  &__block-item_4 {
    position: absolute;
  }

  &__block-item_1 {
    top: 237px;
    left: 122px;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: $accent;
  }

  &__block-item_2 {
    top: 199px;
    left: 84px;
  }

  &__block-item_3 {
    top: 155px;
    left: 119px;
  }

  &__block-item_4 {
    top: 112px;
    left: 127px;
  }
}

.about {
  background-position: 20% center;
  background-size: cover;
  background-repeat: no-repeat;

  &__item {
    max-width: 780px;
    padding: 10px;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.kids__item-img {
  object-fit: cover;
}

.kids__block-image {
  right: -30px;
}

.noksprey-aqua {
  color: $default;
}

.noksprey-hildren {
  color: $white;
}

.noksprey-aqua,
.promotion {
  background-size: cover;
  background-repeat: no-repeat;
}

.noksprey-aqua__item {
  max-width: 670px;
}
.promotion__title {
  font-size: 42px;
}

.promotion__item {
  max-width: 706px;
}

.noksprey-active {
  background-size: cover;
  background-repeat: no-repeat;
}

.noksprey-active__img {
  width: 355px;
  background-size: contain;
}

.noksprey_silver {
  background-image: linear-gradient(
    to bottom,
    rgba(101, 102, 102, 0.3),
    rgba(255, 255, 255, 1)
  );
}

.noksprey_silver__inner {
  width: 668px;
  width: 100%;
}

.noksprey_silver__item {
  color: $default;
}

.promotion__img {
  margin-top: 60px;
}

.noksprey_silver__item {
  max-width: 630px;
}

.noksprey__item-img {
  max-width: 400px;
}

.noksprey_bottom_note {
  font-size: 12px;
  font-weight: 400;
  color: $default;
}

.noksprey_bottom_warning-item,
.noksprey_address,
.noksprey_nox {
  margin-top: 20px;
}

.promotion__buttons {
  margin-bottom: 60px;
}

.middle-container {
  max-width: 1110px;
  margin: 0 auto;
}

.footer {
  font-size: 12px;
  font-weight: 400;
  color: $default;
}

.noksprey__copy {
  font-weight: 700;
  margin-top: 20px;
}

.noksprey__create {
  margin-top: 20px;
  padding-bottom: 150px;
}

.noksprey_bottom_warning-item {
  margin-top: 30px;
}

.noksprey__list {
  margin-top: 15px;
}

.noksprey-aqua__buttons {
  margin-top: 25px;
}

.dash__line {
  list-style: none;
}

.dash__line li:before {
  content: "—";
  position: relative;
  left: -5px;
}

.footer__block-img {
  padding: 10px 10px 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $white;
}

// Kids

.kids__subtitle {
  max-width: 850px;
}

.kids__block-img {
  max-width: 418px;
}

.kids__item {
  margin: 0 auto;
}

.kids__item-img {
  max-width: 500px;
}

.noksprey-hildren__inner {
  color: $white;
}

.noksprey-hildren {
  background-position: 30% center;
}

.noksprey-baby__bottons {
  margin-top: 20px;
}

.noksprey-baby__btn {
  padding: 18px 50px;
}

.kids-promo {
  height: 86vh;
}

.kids_botton_note {
  margin-bottom: 100px;
}

.kids_bottom_note-text {
  padding: 70px 0;
}

.instructions_botton_note {
  margin-bottom: 0;
}

.instructions_bottom_note-text {
  padding-bottom: 25px;
}

.instructions-promo {
  background-position: top 16% center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}

.instructions__img {
  width: 268px;
  height: 317px;
}

.instructions__inner {
  display: flex;
  padding: 50px 0;
  gap: 0 50px;
}

.instructions__item {
  text-align: center;
  width: 288px;
}

.instructions__text {
  font-weight: 700;
}

.instructions-btn {
  padding: 12px 33px;
}

.buy_promo {
  padding-bottom: 0;
}

.buy__text {
  padding-top: 30px;
}

.buy__items {
  background-color: $white;
}

.buy__item {
  padding: 20px 17px;
  padding-bottom: 0;
}

.buy__text {
  color: $default;
}

.buy__img {
  width: 255px;
  height: 262px;
}

.buy__btn {
  padding-bottom: 30px;
}

.buy__copy {
  padding-bottom: 170px;
}

.privacy {
  background-image: url(../images/instructions/instructions_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  &__item {
    font-size: 14px;
    padding-bottom: 181px;
  }

  &__title {
    font-weight: 700;
    padding-top: 25px;
  }
}

.underline {
  display: inline;
  border-bottom: 1px solid $white;
}

.instructions__item {
  --animate__fast: 500ms;
}

// Modal window

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: $white;
  color: $default;
  font-size: 14px;
  max-width: 65%;
  padding: 40px;
  opacity: 0;
  transition: all 0.8s ease 0s;
  transform: translate(0px, 100%);
}

.popup__header {
  text-align: center;
  font-size: 20px;
}

.popup__title {
  text-transform: uppercase;
  font-weight: 700;
}

.popup__subtitle {
  font-weight: 700;
}

.popup-uppercase {
  text-transform: uppercase;
  font-weight: 700;
}

.popup__item-title {
  font-weight: 700;
}

.popup__item {
  margin-top: 20px;
}

.popup__list {
  list-style-type: disc;
  margin-left: 10px;
}

.popup__list-item {
  margin-left: 10px;
}

.popup__address-list {
  list-style: none;
}

.popup__address-link {
  color: #ff8562;
}

.popup__close {
  position: fixed;
  right: 30px;
  top: 30px;
}

.popup__close-img {
  width: 25px;
  height: 25px;
}

// Pagination right menu
.aside-menu {
  position: fixed;
  top: 50%;
  right: 33px;
  // transform: translateY(-50%);
}

.aside-menu__list {
  list-style: none;
}

.aside-menu__item + .aside-menu__item {
  margin-top: 20px;
}

.aside-menu__link {
  position: relative;
}

.aside-menu__link::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  top: 0;
  left: 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 30%);
}

.aside-menu__title {
  background-color: transparent;
  color: $black;
  border-radius: 2px;
  opacity: 0;
  right: -28px;
  line-height: 1.2;
  position: absolute;
  transition: all 0.3s ease;
}

.aside-menu__title:hover {
  left: -208px;
  font-size: 14px;
  line-height: 11px;
  padding: 10px;
  opacity: 1;
  background-color: $white;
  transform: translateX(-15px);
}

//  Burger menu btn
.mobile-nav {
  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 40px 15px;
}

.mobile-nav.active {
  display: flex;
}

.mobile-nav__list {
  font-size: 20px;
}

.mobile-nav__list li + li {
  margin-top: 20px;
}

// Mobile btn
.mobile-nav-button {
  /* Reset for button */
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;

  /* Nav icon styles */
  position: relative;
  z-index: 30;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.mobile-nav-button__icon {
  display: block;
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #ed1622;
}

.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #ed1622;
  /* Трансформация при закрывании */
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon::before {
  left: 0;
  top: -10px;
}

.mobile-nav-button__icon::after {
  left: 0;
  top: 10px;
}

.mobile-nav-button__icon.active {
  background-color: transparent;
}

.mobile-nav-button__icon.active::before {
  transform: rotate(45deg);
  top: 0;
  /* Трансформация при открывании */
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon.active::after {
  transform: rotate(-45deg);
  top: 0;
  /* Трансформация при открывании */
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}

.mobile-nav__list {
  color: $black;
}
// Mobile

// ------------------- Імпорт файлу стилів адаптиву -----------------
@import "media";
