# Игнорировать файлы от Apple
.DS_Store
.AppleDouble
.LSOverride

# Игнорировать каталог node_modules 
node_modules/ 

# Игнорировать каталог css
app/css/

# Игнорирование логов 
logs 
*.log 

# Игнорирование файла содержащий переменные окружения  
.env 

# Игнорирование файлов специфичных для IDE 
.idea/ 
.vscode/ 
*.sw*